<h1 mat-dialog-title> Capricorn</h1>
<h2 mat-dialog-title> December 21 - January 20</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol:The sea goat
            </li>
            <li>Element: Earth</li>
            <li>Modality:Cardinal</li>
            <li>Ruling Planet: Saturn</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>CAPRICORN TRAITS</h4>
       <ul>
        <li>Full grown adult since age six</li>
        <li>The responsible friend   </li>
        <li>Motivated by duty   </li>
        <li>Takes a while to warm up to people  </li>
       
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS CAPRICORN</h4>
        
        <ul>
            <li>Martin Luther King Jr.</li>
            <li>Jeff Bezos </li>
            <li>Timothee Chalamet</li>
            <li>Michelle Obama </li>
            <li>Dolly Parton </li>
            <li>Mao Zedong </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Accountant </li>
            <li>Lawyer</li>
            <li>Landlord </li>
            <li>Elementary school hall monitor   </li>
            

           
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>