<div class="about">
    <div class="about-heading">
        <h1 class="about-title">
            Know About us!
        </h1>

    </div>
    <div class="about-info">
        <p>
            Welcome to Zodiac Signs, your number one source for Personality traits of Zodiac Signs.
            We're dedicated to providing you the very best and accurate information regarding the Zodiac Signs personality traits.
        </p>
        <p>It was Founded in 2013 and from then has become the most renowned and trusted platform.</p>
        <p>We hope you enjoy our sevices as much as we enjoy to offer them. :)</p>
    </div>
</div>