
<h1 mat-dialog-title> Leo</h1>
<h2 mat-dialog-title> July 22 - August 22</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The lion
            </li>
            <li>Element: Fire</li>
            <li>Modality: Fixed</li>
            <li>Ruling Planet: The Sun</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>LEO TRAITS</h4>
       <ul>
        <li>Exudes warmth and creativity
        </li>
        <li>A little bit vain  </li>
        <li>Really big personality    </li>
        <li>Wants to stand out </li>
        <li>Interested in luxury  </li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS LEO</h4>
        
        <ul>
            <li>Kobe Bryant  </li>
            <li>James Baldwin   </li>
            <li>Kylie Jenner  </li>
            <li>Coco Chanel   </li>
            <li>Kate Bush    </li>
            <li>Lil Yachty  </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>B-list actor  </li>
            <li>Motivational speaker  </li>
            <li>Autobiographical author  </li>
            <li>Style icon    </li>
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>