<h1 mat-dialog-title> Gemini</h1>
<h2 mat-dialog-title> May 21 - June 21</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The Twins
            </li>
            <li>Element: Air</li>
            <li>Modality: Mutable</li>
            <li>Ruling Planet: Mercury</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>GEMINI TRAITS</h4>
       <ul>
        <li>Charismatic</li>
        <li>Uses humor as a crutch</li>
        <li>Could talk to a brick wall</li>
        <li>Arguments as flirting</li>
        <li>Knows a little about everything</li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS GEMINI</h4>
        
        <ul>
            <li>Kanye West</li>
            <li>Kendrick Lamar</li>
            <li>Jean-Paul Sartre</li>
            <li>Allen Ginsberg</li>
            <li>Thomas Mann</li>
            <li>Laurie Anderson</li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Likable politician</li>
            <li>Actor who plays a quirky side character</li>
            <li>Devil’s Advocate</li>
            <li>Bubble gum wrapper joke writer</li>
            <li>Twitter personality</li>
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>