
<h1 mat-dialog-title> Pisces</h1>
<h2 mat-dialog-title> February 19- March 20</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The Fishes
            </li>
            <li>Element: Water</li>
            <li>Modality: Mutable</li>
            <li>Ruling Planet: Neptune</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>PISCES TRAITS</h4>
       <ul>
        <li>Thinks everything is a sign</li>
        <li>Can’t remember if they dreamt it or it actually happened </li>
        <li>Somehow both 5 and 50 years old at once </li>
        <li>Prone to fantasy </li>
        <li>No boundaries</li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS PISCES</h4>
        
        <ul>
            <li>Nina Simone</li>
            <li>Pier Paolo Pasolini</li>
            <li>Agatha Christie  </li>
            <li>Mary Shelley   </li>
            <li>D. H. Lawrence    </li>
            <li>Georges Bataille </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li> librarian</li>
            <li>Tupperware for other people’s messes  </li>
            <li>Walking encyclopedia  </li>
            <li>Human GPS   </li>
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>