<h1 mat-dialog-title> Aries</h1>
<h2 mat-dialog-title> March 20 - April 19</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol:The ram
            </li>
            <li>Element: Fire</li>
            <li>Modality: Cardinal</li>
            <li>Ruling Planet: Mars</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>ARIES TRAITS</h4>
       <ul>
        <li>No Filter</li>
        <li>Gets angry, then forgets why they were angry</li>
        <li>Thinks everything is a game they can win</li>
        <li>Will do anything on a dare</li>
        <li>Easily bored</li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS ARIES</h4>
        
        <ul>
            <li>Mariah Carey</li>
            <li>Jackie Chan</li>
            <li>Leonardo DaVinci</li>
            <li>Charles Baudelaire</li>
            <li>Harry Houdini</li>
            <li>Cesar Chavez</li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Stunt double</li>
            <li>Part time punk</li>
            <li>Pro wrestler</li>
            <li>Petty thief</li>
            <li>Cereal box mascot</li>

           
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>