
<h1 mat-dialog-title> Sagittarius</h1>
<h2 mat-dialog-title> November 22- December 21</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The Archer
            </li>
            <li>Element: Fire</li>
            <li>Modality: Mutable</li>
            <li>Ruling Planet: Jupiter</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>SAGITTARIUS TRAITS</h4>
       <ul>
        <li>No indoor voice</li>
        <li>Forms opinions off of pure emotion</li>
        <li>Obsessed with self-improvement</li>
        <li>Wields their truth like a blunt weapon</li>
        <li>Friendliest person at the party </li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS SAGITTARIUS</h4>
        
        <ul>
            <li>Chadwick Boseman</li>
            <li>Nicki Minaj</li>
            <li>Jane Austen</li>
            <li>Jean Michel Basquiat</li>
            <li>Nostradamus</li>
            <li>Emily Dickinson
            </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Foreign correspondent</li>
            <li>Health fad guru</li>
            <li>Karaoke Emcee</li>
            <li>Unauthorized Anthropologist</li>
            

           
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>