<h1 mat-dialog-title> Cancer</h1>
<h2 mat-dialog-title> June 21 - July 22</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The crab
            </li>
            <li>Element: Water</li>
            <li>Modality: Cardinal</li>
            <li>Ruling Planet: The Moon</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>CANCER TRAITS</h4>
       <ul>
        <li>Very sensitive
        </li>
        <li>Seeks comfort
        </li>
        <li>Forgives but never forgets        </li>
        <li>Only has one boundary, but it is very firm
        </li>
        <li>Takes on other people’s problems
        </li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS CANCER</h4>
        
        <ul>
            <li>Ariana Grande
            </li>
            <li>Frida Kahlo
            </li>
            <li>Marcel Proust
            </li>
            <li>Assata Shakur
            </li>
            <li>Stokely Carmichael
            </li>
            <li>Franz Kafka
            </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Emotional packmule
            </li>
            <li>Caretaker for lost skaters
            </li>
            <li>That one influential elementary school teacher
            </li>
            <li>Metaphorical heart surgeon
            </li>
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>