<p>scorpio works!</p>

<h1 mat-dialog-title> LIBRA</h1>
<h2 mat-dialog-title> September 22 - October 23</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The Scales
            </li>
            <li>Element: Air</li>
            <li>Modality: Cardinal</li>
            <li>Ruling Planet: Venus</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>LIBRA TRAITS</h4>
       <ul>
        <li>Hates being alone        </li>
        <li>Really good aesthetics </li>
        <li>Conflict avoidant   </li>
        <li>Sees every side </li>
        <li>Can’t make decisions  </li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS LIBRA</h4>
        
        <ul>
            <li>Michel Foucault  </li>
            <li>Friedrich Nietzsche </li>
            <li>Kim Kardashian  </li>
            <li>Donald Glover   </li>
            <li>Gwyneth Paltrow   </li>
            <li>Neil DeGrasse Tyson </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Hivemind </li>
            <li>Socialite  </li>
            <li>Instagram model  </li>
            <li>Muse    </li>
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>