
<h1 mat-dialog-title> SCORPIO</h1>
<h2 mat-dialog-title> October 23 - November 22</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The scorpion
            </li>
            <li>Element: Water</li>
            <li>Modality: Fixed</li>
            <li>Ruling Planet: Pluto</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>SCORPIO TRAITS</h4>
       <ul>
        <li>Primary emotion is betrayal</li>
        <li>Looks cool in a leather jacket </li>
        <li>OK with uncomfortable silence</li>
        <li>Can’t be sure if they’re serious or joking  </li>
        <li>Eyes that look into your soul </li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS SCORPIO</h4>
        
        <ul>
            <li>Leonardo DiCaprio</li>
            <li>Charles Manson</li>
            <li>Marie Antoinette</li>
            <li>Frank Ocean</li>
            <li>Albert Camus</li>
            <li>Fyodor Dostoevsky</li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Con artist</li>
            <li>Puppet master</li>
            <li>Brooding protagonist</li>
            <li>Cult leader</li>
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>