<h1 mat-dialog-title> Aquarius</h1>
<h2 mat-dialog-title> January 21 - Febraury 18</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol:The Water Bearer
            </li>
            <li>Element: Air</li>
            <li>Modality: Fixed</li>
            <li>Ruling Planet: Uranus</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>AQUARIUS TRAITS</h4>
       <ul>
        <li>Purposefully esoteric</li>
        <li>Doesn’t ‘do’ feelings, just concepts</li>
        <li>Actually believes in conspiracy theories   </li>
        <li>Always feels like an outcast</li>
        <li>Fetishizes personal freedom
        </li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS AQUARIUS</h4>
        
        <ul>
            <li>Angela Davis </li>
            <li>Virginia Woolf</li>
            <li>Frederick Douglass</li>
            <li>Michael Jordan</li>
            <li>Yoko Ono</li>
            <li>Grigori Rasputin </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li>Professional dilettante</li>
            <li>Casual anthropologist </li>
            <li>Rioter and looter </li>
            <li>Artificial Intelligence </li>
            <li>Armchair philosopher</li>

           
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>