
<h1 mat-dialog-title> Virgo</h1>
<h2 mat-dialog-title> August 22 - September 22</h2>

<div class="content">

    <mat-dialog-content>
        <h4>BASICS</h4>
        <ul>
            <li>
                Symbol: The Virgin
            </li>
            <li>Element: Earth</li>
            <li>Modality: Mutable</li>
            <li>Ruling Planet: Mercury</li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>LEO TRAITS</h4>
       <ul>
        <li>Needs to feel useful    </li>
        <li>Has a quick fix for everything</li>
        <li>Judgmental, but with good intentions</li>
        <li>Exceptional spatial awareness</li>
        <li>A million ideas per second  </li>
       </ul>
    </mat-dialog-content>
</div>

<div class="content">

    <mat-dialog-content>
        <h4>FAMOUS VIRGO</h4>
        
        <ul>
            <li>Fred Hampton </li>
            <li>Bernie Sanders  </li>
            <li>Agatha Christie  </li>
            <li>Mary Shelley   </li>
            <li>D. H. Lawrence    </li>
            <li>Georges Bataille </li>
           
        </ul>
    </mat-dialog-content>
    <mat-dialog-content>
        <h4>BEST CAREERS</h4>
        
        <ul>
            <li> librarian</li>
            <li>Tupperware for other people’s messes  </li>
            <li>Walking encyclopedia  </li>
            <li>Human GPS   </li>
        </ul>
    </mat-dialog-content>
</div>


<mat-dialog-actions>

    <button mat-raised-button class="close-btn" mat-dialog-close="true"> Close</button>
</mat-dialog-actions>