
.heading{
    margin-left: 20px;
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    

}
.sidenav{
    width: 50%;
    background-color: white;
    
}
.sidenav .main-menu a{
    color:black;
    text-align: center;
}

.navbar
{
    background-color:rgba(46, 42, 42, 0.911);
    color:white;
}
.handset-navbar{
    // background-color:rgba(85, 80, 80, 0.247);
    overflow: hidden;
}
.btn
{
    background-color: white;
    border-radius: 5px;
}
span{
    padding-right: 3rem;
    

}
.links{
    position: absolute;
    left:68%;
}


@media(max-width:959px)
{
    body{
        background-color: rgba(128, 128, 128, 0.055);
    }
    mat-sidenav-container{
        background-color: white;
    }

}
