.body{
    background-color: rgba(128, 128, 128, 0.055);
        
}
.main-heading h1,h3,h5{
    font-family: 'Gentium Plus', serif;
    text-align:center;
}
.main-heading h1{
    font-size: 35px;
    padding-top: 60px;
}
.main-heading h3{
    font-size: 20px;
}
.main-heading h5{
    font-size: 16px;
    padding-bottom: 20px;
}
.signs{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
.card
{
    width: 250px;
    height: 250px;
    background-color: rgba(128, 128, 128, 0.185);
    color: black;
    margin: 20px;
}
.card-img{
    width: 100px;
    height: 100px;
    margin-left: 30%;
}
.card mat-card-subtitle
{
    color: black;
}
.btn
{
    padding: 8px;
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.5);
    color: black;
    border: 0;
    margin-left: 30%;
    cursor: pointer;
}