<div class="body">
    <div class="main-heading">
        <h1>Zodiac Signs</h1>
        <h3>Personality Traits, qualities, quirks</h3>
        <h5>ALL ABOUT THE 12 ZODIAC SIGNS</h5>
    </div>
    <div class="signs">
        <!-- Aries -->
    <mat-card class="card">
        <mat-card-header>
        
          <mat-card-title>Aries</mat-card-title>
          <mat-card-subtitle>March 20 - April 19</mat-card-subtitle>
        </mat-card-header>
        <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Aries_symbol_%28bold%29.svg/1200px-Aries_symbol_%28bold%29.svg.png" alt="Aries symbol">
        <mat-card-actions> 
            <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
        </mat-card-actions>
      </mat-card>
      <!-- Taurus -->
      <mat-card class="card">
        <mat-card-header>
        
          <mat-card-title>Taurus</mat-card-title>
          <mat-card-subtitle>April 20 - May 20</mat-card-subtitle>
        </mat-card-header>
        <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Taurus_symbol_%28bold%29.svg/800px-Taurus_symbol_%28bold%29.svg.png" alt="Taurus symbol">
        <mat-card-actions> 
            <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
        </mat-card-actions>
     </mat-card>
        <!-- Gemini -->
      <mat-card class="card">
        <mat-card-header>
        
          <mat-card-title>Gemini</mat-card-title>
          <mat-card-subtitle>May 21 - June 21</mat-card-subtitle>
        </mat-card-header>
        <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Gemini_symbol_%28bold%29.svg/1200px-Gemini_symbol_%28bold%29.svg.png" alt="Gemini symbol">
        <mat-card-actions> 
            <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
        </mat-card-actions>
        
      </mat-card>
      </div>
    


    <div class="signs">
        <!-- Cancer -->
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Cancer</mat-card-title>
              <mat-card-subtitle>June 21 - July 22</mat-card-subtitle>
            </mat-card-header>
            <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Cancer_symbol_%28bold%29.svg/1200px-Cancer_symbol_%28bold%29.svg.png" alt="Cancer symbol">
            <mat-card-actions> 
                <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
            </mat-card-actions>
            
          </mat-card>
    
          <!-- Leo -->
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Leo</mat-card-title>
              <mat-card-subtitle>July 22 - August 22</mat-card-subtitle>
            </mat-card-header>
            <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Leo_symbol_%28bold%29.svg/800px-Leo_symbol_%28bold%29.svg.png" alt="Aries symbol">
            <mat-card-actions> 
                <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
            </mat-card-actions>
          </mat-card>

          <!-- Virgo -->
          <mat-card class="card">
            <mat-card-header>
            
              <mat-card-title>Virgo</mat-card-title>
              <mat-card-subtitle>August 22 - September 22</mat-card-subtitle>
            </mat-card-header>
            <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Virgo_symbol_%28bold%29.svg/640px-Virgo_symbol_%28bold%29.svg.png" alt="Virgo symbol">
            <mat-card-actions> 
                <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
            </mat-card-actions>
            
          </mat-card>
        </div>
        <div class="signs">

             <!-- Libra -->
             <mat-card class="card">
                <mat-card-header>
                
                  <mat-card-title>Libra</mat-card-title>
                  <mat-card-subtitle>September 22 - October 23</mat-card-subtitle>
                </mat-card-header>
                <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Libra_symbol_%28bold%29.svg/1200px-Libra_symbol_%28bold%29.svg.png" alt="Libra symbol">
                <mat-card-actions> 
                    <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
                </mat-card-actions>
                
              </mat-card>
              <!-- Scorpio -->
            <mat-card class="card">
                <mat-card-header>
                
                  <mat-card-title>Scorpio</mat-card-title>
                  <mat-card-subtitle>October 23 - November 22</mat-card-subtitle>
                </mat-card-header>
                <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Scorpius_symbol_%28bold%29.svg/800px-Scorpius_symbol_%28bold%29.svg.png" alt="Scorpio symbol">
                <mat-card-actions> 
                    <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
                </mat-card-actions>
              </mat-card>
        
             <!-- Sagittarius -->
              <mat-card class="card">
                <mat-card-header>
                
                  <mat-card-title>Sagittarius</mat-card-title>
                  <mat-card-subtitle>November 22- December 21</mat-card-subtitle>
                </mat-card-header>
                <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Sagittarius_symbol_%28bold%29.svg/1200px-Sagittarius_symbol_%28bold%29.svg.png" alt="Sigattarius symbol">
                <mat-card-actions> 
                    <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
                </mat-card-actions>
              </mat-card>
            </div>

            <div class="signs">

                <!-- Capricorn -->
                <mat-card class="card">
                   <mat-card-header>
                   
                     <mat-card-title>Capricorn</mat-card-title>
                     <mat-card-subtitle>December 21 - January 20</mat-card-subtitle>
                   </mat-card-header>
                   <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Capricornus_symbol_%28bold%29.svg/1200px-Capricornus_symbol_%28bold%29.svg.png" alt="Capricorn symbol">
                   <mat-card-actions> 
                    <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
                </mat-card-actions>
                 </mat-card>
                 <!-- Aquarius -->
               <mat-card class="card">
                   <mat-card-header>
                   
                     <mat-card-title>Aquarius</mat-card-title>
                     <mat-card-subtitle>January 21 - Febraury 18</mat-card-subtitle>
                   </mat-card-header>
                   <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Aquarius_symbol_%28bold%29.svg/1200px-Aquarius_symbol_%28bold%29.svg.png" alt="Aquarius symbol">
                   <mat-card-actions> 
                    <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
                </mat-card-actions>
                 </mat-card>
           
                <!-- Pisces -->
                 <mat-card class="card">
                   <mat-card-header>
                   
                     <mat-card-title>Pisces</mat-card-title>
                     <mat-card-subtitle>February 19- March 20</mat-card-subtitle>
                   </mat-card-header>
                   <img class ="card-img" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Pisces_symbol_%28bold%29.svg/800px-Pisces_symbol_%28bold%29.svg.png" alt="Pisces symbol">
                   <mat-card-actions> 
                    <button mat-raised-button class="btn" (click)="openDialog()"> See Traits</button>
                </mat-card-actions>
                 </mat-card>
               </div>
                     
                  
</div>